$dark-primary-color: #0288D1;
$text-primary-color: #FFFFFF; 
$accent-color: #FFEB3B; 
$primary-text-color: #212121; 
$divider-color: #BDBDBD; 
$fuente1: 'Quicksand', sans-serif;
$fuente2: 'Raleway', sans-serif;